@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--primary-text: #fff;
	--primary-background: #000;
	--secondary-text: #000;
	--button-hover: #ffffffdc;
}
:root .dark-theme {
	--primary-text: #fff;
	--primary-background: #000;
	--secondary-text: #000;
	--button-hover: #ffffffdc;
}
:root .light-theme {
	--primary-text: #000;
	--primary-background: #fff;
	--secondary-text: #fff;
	--button-hover: #333333;
}
:root .pink-theme {
	--primary-text: #000;
	--primary-background: #F5A9B8;
	--secondary-text: #fff;
	--button-hover: #333333;
}
:root .blue-theme {
	--primary-text: #000;
	--primary-background: #5BCEFA;
	--secondary-text: #fff;
	--button-hover: #333333;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--primary-background);
	color: var(--primary-text);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	transition: ease 0.15s;
}
button {
	background-color: var(--primary-text);
	color: var(--secondary-text);
	border: none;
	font-size: 20px;
	padding: 10px;
	font-weight: 600;
	margin-bottom: 5px;
	border-radius: 11px;
	transition: ease 0.15s;
	display: flex;
	gap: 5px;
}
button:focus-visible {
	outline: auto;
	outline-offset: 2px;
}
button:hover {
	background-color: var(--button-hover);
}
a {
	text-decoration: underline;
	color: var(--primary-text);
	transition: ease 0.15s;
}
p {
	margin: 5px;
	text-align: center;
}
button i {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
}
.main-theme-switches {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin-bottom: 10px;
	flex-wrap: wrap;
}
.main-theme-switches button {
	height: 44px;
	width: 44px;
	border-radius: 50%;
	border: 2px solid var(--primary-text);
	background-color: #F5A9B8;
}
.main-theme-switches button:hover {
	outline: 2px solid var(--primary-text);
	outline-offset: 3px;
}
.main-theme-switches button:focus-visible {
	outline: 2px solid var(--primary-text);
	outline-offset: 3px;
}
.main-theme-switches button.active-theme {
	outline: 4px solid var(--primary-text);
	outline-offset: 3px;
}
.main-theme-switches button.active-theme:hover {
	outline: 6px solid var(--primary-text);
	outline-offset: 0px;
	border: none;
}
.main-theme-switches button.active-theme:focus-visible {
	outline: 6px solid var(--primary-text);
	outline-offset: 0px;
	border: none;
}
.main-theme-switches [data-theme="dark-theme"] {
	background-color: #000;
}
.main-theme-switches [data-theme="light-theme"] {
	background-color: #fff;
}
.main-theme-switches [data-theme="pink-theme"] {
	background-color: #F5A9B8;
}
.main-theme-switches [data-theme="blue-theme"] {
	background-color: #5BCEFA;
}
.misc-theme-switches {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}