@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
/* Our default theme is dark right now, but if we wanted to change that we'd use the variables from a different theme. */
/* This is because we're using a seperate dark theme instance, and thus can change the default at any time without removing our dark theme. */
:root {
	--primary-text: #fff;
	--primary-background: #000;
	--secondary-text: #000;
}
:root .dark-theme {
	--primary-text: #fff;
	--primary-background: #000;
	--secondary-text: #000;
}
:root .light-theme {
	--primary-text: #000;
	--primary-background: #fff;
	--secondary-text: #fff;
}
:root .pink-theme {
	--primary-text: #000;
	--primary-background: #F5A9B8;
	--secondary-text: #fff;
}
:root .blue-theme {
	--primary-text: #000;
	--primary-background: #5BCEFA;
	--secondary-text: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
body {
	background-color: var(--primary-background);
	color: var(--primary-text);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	transition: ease 0.15s;
}
button {
	background-color: var(--primary-text);
	color: var(--secondary-text);
	border: none;
	outline: none;
	font-size: 20px;
	padding: 10px;
	font-weight: 600;
	margin-bottom: 5px;
}
a {
	text-decoration: underline;
	color: var(--primary-text);
}
p {
	margin: 5px;
}
